.Card{
    width: 550px;
    height:340px;
    padding:20px;
    margin: 20px;
    border-radius: 20px;
    background-color: rgb(210, 197, 222);
}

.containerOne{
    display: flex;
    flex-direction: row;
}

.mainContainer{
    background: linear-gradient(to right, #8a2be2, black, #8a2be2);
}

.heading{
    color: white;
    margin-left: 30px;
    margin-top: 40px;
}

.Card:hover {
    transform: scale(1.05);
  }

  @media only screen and (min-width: 1024px) and (max-width: 1360px) {
    .Card{
        width: 550px;
        height:340px;
        padding:20px;
        margin: 20px;
        border-radius: 20px;
        background-color: rgb(210, 197, 222);
    }
    
    .containerOne{
        display: flex;
        flex-direction:  column !important;
        margin-left: 120px;
    }
    
    .mainContainer{
        background: linear-gradient(to right, #8a2be2, black, #8a2be2);
        display: flex;
        flex-direction: column !important;
    }
    
    .heading{
        color: white;
        margin-left: 30px;
        margin-top: 40px;
    }
    
    .Card:hover {
        transform: scale(1.05);
      }    
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px){
    .Card{
        width: 390px !important;
        height:340px;
        padding:20px;
        margin: 20px;
        border-radius: 20px;
        background-color: rgb(210, 197, 222);
    }
    
    .containerOne{
        display: flex;
        flex-direction: column !important;
    }
    
    .mainContainer{
        background: linear-gradient(to right, #8a2be2, black, #8a2be2);
        display: flex;
        flex-direction: column !important;
    }
    
    .heading{
        color: white;
        margin-left: 30px;
        margin-top: 40px;
    }
    
    .Card:hover {
        transform: scale(1.05);
      }    
  }
  
  @media only screen and (min-width: 360px) and (max-width: 767px) {
    .Card{
        width: 350px !important;
        height:340px;
        padding:20px;
        margin: 20px;
        border-radius: 20px;
        background-color: rgb(210, 197, 222);
    }
    
    .containerOne{
        display: flex;
        flex-direction: column !important;
    }
    
    .mainContainer{
        background: linear-gradient(to right, #8a2be2, black, #8a2be2);
    }
    
    .heading{
        color: white;
        margin-left: 30px;
        margin-top: 40px;
    }
    
    .Card:hover {
        transform: scale(1.05);
      }    
  }
  
  @media only screen and (min-width: 356px) and (max-width: 667px) {
    .Card{
        width: 550px;
        height:340px;
        padding:20px;
        margin: 20px;
        border-radius: 20px;
        background-color: rgb(210, 197, 222);
    }
    
    .containerOne{
        display: flex;
        flex-direction: row;
    }
    
    .mainContainer{
        background: linear-gradient(to right, #8a2be2, black, #8a2be2);
    }
    
    .heading{
        color: white;
        margin-left: 30px;
        margin-top: 40px;
    }
    
    .Card:hover {
        transform: scale(1.05);
      }    
  }

  @media only screen and (min-width: 414px) and (max-width: 896px) {
    .Card{
        width: 300px !important;
        height:340px;
        padding:20px;
        margin: 10px;
        border-radius: 20px;
        background-color: rgb(210, 197, 222);
    }
    
    .containerOne{
        display: flex;
        flex-direction: column;
    }
    
    .mainContainer{
        background: linear-gradient(to right, #8a2be2, black, #8a2be2);
        width: 100%;
    }
    
    .heading{
        color: white;
        margin-left: 30px;
        margin-top: 40px;
    }
    
    .Card:hover {
        transform: scale(1.05);
      }    
  }

  @media only screen and (min-width: 390px) and (max-width: 844px) {
    .Card{
        width: 450px;
        height:340px;
        padding:20px;
        margin: 20px;
        border-radius: 20px;
        background-color: rgb(210, 197, 222);
    }
    
    .containerOne{
        display: flex;
        flex-direction: row;
    }
    
    .mainContainer{
        background: linear-gradient(to right, #8a2be2, black, #8a2be2);
    }
    
    .heading{
        color: white;
        margin-left: 30px;
        margin-top: 40px;
    }
    
    .Card:hover {
        transform: scale(1.05);
      }    
  }

  @media only screen and (min-width: 412px) and (max-width: 915px) {
    .Card{
        width: 550px;
        height:340px;
        padding:20px;
        margin: 20px;
        border-radius: 20px;
        background-color: rgb(210, 197, 222);
    }
    
    .containerOne{
        display: flex;
        flex-direction: row;
    }
    
    .mainContainer{
        background: linear-gradient(to right, #8a2be2, black, #8a2be2);
    }
    
    .heading{
        color: white;
        margin-left: 30px;
        margin-top: 40px;
    }
    
    .Card:hover {
        transform: scale(1.05);
      }    
  }

  @media only screen and (min-width: 820px) and (max-width: 1180px) {
    .Card{
        width: 550px;
        height:340px;
        padding:20px;
        margin: 20px;
        border-radius: 20px;
        background-color: rgb(210, 197, 222);
    }
    
    .containerOne{
        display: flex;
        flex-direction: row;
    }
    
    .mainContainer{
        background: linear-gradient(to right, #8a2be2, black, #8a2be2);
    }
    
    .heading{
        color: white;
        margin-left: 30px;
        margin-top: 40px;
    }
    
    .Card:hover {
        transform: scale(1.05);
      }    
  }

  @media only screen and (min-width: 912px) and (max-width: 1368px) {
    .Card{
        width: 550px;
        height:340px;
        padding:20px;
        margin: 20px;
        border-radius: 20px;
        background-color: rgb(210, 197, 222);
    }
    
    .containerOne{
        display: flex;
        flex-direction: row;
    }
    
    .mainContainer{
        background: linear-gradient(to right, #8a2be2, black, #8a2be2);
    }
    
    .heading{
        color: white;
        margin-left: 30px;
        margin-top: 40px;
    }
    
    .Card:hover {
        transform: scale(1.05);
      }    
  }

  @media only screen and (min-width: 540px) and (max-width: 720px) {
    .Card{
        width: 550px;
        height:340px;
        padding:20px;
        margin: 20px;
        border-radius: 20px;
        background-color: rgb(210, 197, 222);
    }
    
    .containerOne{
        display: flex;
        flex-direction: row;
    }
    
    .mainContainer{
        background: linear-gradient(to right, #8a2be2, black, #8a2be2);
    }
    
    .heading{
        color: white;
        margin-left: 30px;
        margin-top: 40px;
    }
    
    .Card:hover {
        transform: scale(1.05);
      }    
  }

  @media only screen and (min-width: 280px) and (max-width: 653px) {
    .Card{
        width: 300px !important;
        height:300px !important;
        padding:10px;
        margin: 10px;
        border-radius: 20px;
        background-color: rgb(210, 197, 222);
    }
    
    .containerOne{
        display: flex;
        flex-direction: column;
    }
    
    .mainContainer{
        background: linear-gradient(to right, #8a2be2, black, #8a2be2);
        width: 200%;
    }
    
    .heading{
        color: white;
        margin-left: 10px,!important;
        margin-top: 40px;
    }
    
    .Card:hover {
        transform: scale(1.05);
      }    
  }

  @media only screen and (min-width: 853px) and (max-width: 1280px) {
    .Card{
        width: 550px;
        height:340px;
        padding:20px;
        margin: 20px;
        border-radius: 20px;
        background-color: rgb(210, 197, 222);
    }
    
    .containerOne{
        display: flex;
        flex-direction: row;
    }
    
    .mainContainer{
        background: linear-gradient(to right, #8a2be2, black, #8a2be2);
    }
    
    .heading{
        color: white;
        margin-left: 30px;
        margin-top: 40px;
    }
    
    .Card:hover {
        transform: scale(1.05);
      }    
  }

  @media only screen and (min-width: 1024px) and (max-width: 600px) {
    .Card{
        width: 550px;
        height:340px;
        padding:20px;
        margin: 20px;
        border-radius: 20px;
        background-color: rgb(210, 197, 222);
    }
    
    .containerOne{
        display: flex;
        flex-direction: row;
    }
    
    .mainContainer{
        background: linear-gradient(to right, #8a2be2, black, #8a2be2);
    }
    
    .heading{
        color: white;
        margin-left: 30px;
        margin-top: 40px;
    }
    
    .Card:hover {
        transform: scale(1.05);
      }    
  }

  @media only screen and (min-width: 1280px) and (max-width: 800px) {
    .Card{
        width: 550px;
        height:340px;
        padding:20px;
        margin: 20px;
        border-radius: 20px;
        background-color: rgb(210, 197, 222);
    }
    
    .containerOne{
        display: flex;
        flex-direction: row;
    }
    
    .mainContainer{
        background: linear-gradient(to right, #8a2be2, black, #8a2be2);
    }
    
    .heading{
        color: white;
        margin-left: 30px;
        margin-top: 40px;
    }
    
    .Card:hover {
        transform: scale(1.05);
      }    
  }